html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f1f1f1;
font-family: 'Roboto', sans-serif;

}

.flex-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f1f1f1;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    text-align: center;
}

canvas {
    display: block;
}

#ui {
    display: flex;
    align-items: center;
    margin: 24px;
    padding: 16px;
}

#ui > div {
    text-align: left;
    margin: 24px;
}
